import("grDevices")
import("stats")
import("lattice")
import("latticeExtra")
import("fpc")
useDynLib("wskm", .registration = TRUE, .fixes = "WSKM_")
export("ewkm")
export("fgkm")
export("twkm")
S3method(predict, ewkm)
S3method(plot, ewkm)
S3method(levelplot, ewkm)
