import("grDevices")
import("stats")
import("lattice")
import("latticeExtra")
import("clv")
useDynLib("wskm")
export("ewkm")
export("fgkm")
export("twkm")
S3method(predict, ewkm)
S3method(plot, ewkm)
S3method(levelplot, ewkm)
